.lm-header {
    font-size: 12px;
}

/*.lm-header-li {
    list-style: none;
}*/

.lm-left {
    height: 30px;
    line-height: 30px;
    list-style: none;
}

.lm-left a {
    font-weight: 700;
    color: #FFF;
}



.lm-carousel {
    width: 500px;
    height: 300px;
}

.lm-row {
    margin-left: -20px;
    *zoom: 1;
}

.lm-row:before,
.lm-row:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
}


.lm-col-lg-4 {
    width: 33.33333333%;
    position: relative;
    min-height: 1px;
    float: left;
}

.lm-list-grid li {
    float: left;
    width: 71px;
    height: 67px;
    border: 1px solid #eaeaea;
    border-left-color: transparent;
    border-top-color: transparent;
}

.lm-list-grid a {
    padding-top: 1px;
    text-align: center;
    display: block;
}

.lm-grid-span {
    width: 24px;
    height: 24px;
    margin-top: 11px;
}

.lm-app li {
    margin-right: 21px;
    margin-bottom: 8px;
    float: left;
    border: 1px solid #FFFFFF;
}

.lm-app img {
    width: 32px;
    height: 32px;
}
.lm-footer a + a:before{
    content: "| ";
}

.lm-footer {
    width: 1500px;
}
